<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ConStr" connectionString="Server=LAPTOP-QJAA410S\SQLEXPRESS;DataBase=ScadaData;Uid=sa;Pwd=520"/>
  </connectionStrings>
</configuration>